<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MeemeowAirlines"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MeemeowAirlines"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/login_activity_title"
            android:theme="@style/Theme.MeemeowAirlines" />
        <activity
            android:name=".ProfileActivity"
            android:exported="true"
            android:label="@string/profile_activity_title"
            android:theme="@style/Theme.MeemeowAirlines" />
        <activity
            android:name=".BoardingPassActivity"
            android:exported="true"
            android:label="Boarding Pass"
            android:theme="@style/Theme.MeemeowAirlines" />
        <activity
            android:name=".ContactUsActivity"
            android:exported="true"
            android:label="Contact Us"
            android:theme="@style/Theme.MeemeowAirlines" />
        <activity
            android:name=".CovidInfoActivity"
            android:exported="true"
            android:label="About Covid-19"
            android:theme="@style/Theme.MeemeowAirlines" />
        <activity
            android:name=".FlightDisruptionActivity"
            android:exported="true"
            android:label="Flight Disruption"
            android:theme="@style/Theme.MeemeowAirlines" />
        <activity
            android:name=".FlightStatusActivity"
            android:exported="true"
            android:label="Flight Status"
            android:theme="@style/Theme.MeemeowAirlines" />
        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:label="Settings"
            android:theme="@style/Theme.MeemeowAirlines" />
        <activity
            android:name=".TermsActivity"
            android:exported="true"
            android:label="Terms and Conditions"
            android:theme="@style/Theme.MeemeowAirlines" />

        <meta-data
            android:name="com.google.android.gms.auth.api.signin"
            android:value="@string/server_client_id" />
    </application>
</manifest>
